html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(196, 143, 0);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
}

div {
    margin: 0;
    padding: 0;
}

#gamecontent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

#gamecontent > .own.hand {
    height: 35%; /* if we change this, also change size of #gamecontent > #innergamecontent > #table > #jassmatwrap */
    background-color: rebeccapurple;
}

#gamecontent > .other.hand {
    height: 10%; /* if we change this, also change size of #gamecontent > #innergamecontent > #table > #jassmatwrap and #gamecontent > #innergamecontent > .other.hand */
    background-color: red;
}

#gamecontent > #innergamecontent {
    flex-grow: 1;
    background-color: green;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

#gamecontent > #innergamecontent > .other.hand {
    width: 10%; /* if we change this, also change size of #gamecontent > #innergamecontent > #table > #jassmatwrap and #gamecontent > .other.hand */
    background-color: blue;
}

#gamecontent > #innergamecontent > #table {
    flex-grow: 1;
    background-color: rgb(196, 143, 0);

    display: flex;
    justify-content: center;
    align-items: stretch;
}



#gamecontent > #innergamecontent > #table > #jassmatwrap {
    max-width: 55vh;    /* 100vh - ownhand.height - otherhandtop.width */
    max-height: 55vh;
    flex-grow: 1;
    
    background-color: yellow;

    display: flex;
    justify-content: center;
    align-items: center;
}


#gamecontent > #innergamecontent > #table > #jassmatwrap > #jassmatborder {
    position: relative;
    width: 100%;
    padding-bottom: 100%;

    background-color: darkolivegreen;
    border-radius: 20px;
}

#jassmat {
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    bottom: 2.5%;
    right: 2.5%;

    background-color: green;
    border-radius: 20px;
}


.own.hand > .cardholderspace {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
}

.own.hand > .cardholderspace > .cardholderwrap {
    position: absolute;
    width: 19.05vh;
    max-width: 30vw;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: bottom;
}

.own.hand > .cardholderspace > .cardholderwrap > .cardholder {
    position: absolute;
    bottom: 10%;
    width: 100%;
    padding-bottom: 140.15748%;
    margin-left: auto;
    margin-right: auto;
}

.own .card {
    position: absolute;
    transform-origin: 50% 105%;
    width: 100%;
    height: 100%;
}

.own .card:not(.unselectable):active > .cardimg {
    transform: translate(0%, -5%);
}

.own .card.unselectable {
    filter: brightness(0.65);
}

.card > .cardimg {
    background-image: url(assets/sprites/jass/cardset.png);
    background-position: -100% -100%;
    background-size: 1000%, 400%;
    width: 100%;
    height: 100%;
    border-radius: 3.5%;
    box-shadow: 0px 0px 2px 0px grey;
}



